$textColor: #7195d9;
$borderColor: #C8D9FB;


body{font-size: 1em;}
.class{display: none;}
@media screen and (max-width: 640px){
  body{font-size: 0.6em;}
  .class{display: none;}
}
@media screen and (max-width: 1080px){
  body{font-size: 0.8em;}
  .class{display: block;}
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  h1{
    color: $textColor;
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
}

.content_head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition-duration: 2s;

  span{
    display: flex;
  }
  button{
    width: 4.5em;
    padding: 0;
    color: $textColor;
    margin-left: 15px;
    border: $borderColor solid 1px;
    font: inherit;
    background-color: transparent;
    cursor: pointer;
  }

  button:hover{
    border-color: $borderColor;
    background-color: $borderColor;
  }

  button:active{
    border-color: $textColor;
    background-color: $borderColor;
  }
  margin-bottom: 5%;
}

.sliderPages{
  display: inline-flex;
  align-self: center;
  align-items: flex-start;
  width: 2em;
  z-index: 1;

  div{
    display: flex;
  }

  span{
    width: 7em;
    height: .2em;
    background-color: $borderColor;
  }

  .activeSpan{
    background-color: $textColor;
  }
}

.slider {
  display: flex;
  align-content: flex-start;
}



@media screen and (max-width: 1080px) {

  .content_head{
    flex-direction: column;
    align-items: center;
    button{
      width: 4.5em;
      margin: 10px 0 0 0;
    }
  }

  .sliderPages{
    //align-items: center;
    margin-right: 13em;
    div{

    }
    span{
      width: 4em;
      background-color: #CCDDFF;
    }
  }

  .slider {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }

  .slide{
    margin-top: 3%;
    width: 20em;
  }
}

.drop_item{
  position: fixed;
  top: 50%;
}


.slide {
  border: $borderColor solid 1px;
  color: $textColor;
  width: 20em;
  margin-right: 1%;
  cursor: pointer;
  .slideTool{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    padding: 10px 20px 10px 20px;
  }

  &:hover{
    border: $textColor solid 1px;
  }

  img{
    width: 100%;
  }

}


